*{   
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "微软雅黑","宋体",sans-serif;
	box-sizing: border-box;
}
body{
	background: #fff;
}
img{
	border: 0;
}
.container,.container-fluid{
	height: auto;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.row{
	height: auto;
	overflow: hidden;
	 margin-left: -15px;
	margin-right: -15px;  
}
.row::before,.row::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	clear: both;
}
[class*="col-"]{
	float: left;
	 padding-left: 15px;
	padding-right: 15px; 
	box-sizing: border-box;
}
/* 阈值 */
/* 手机<768px */
@media screen  and (max-width: 768px) {
	.col-xs-1{
		width: 8.333333%;
	}
	.col-xs-2{
		width: 16.666666%;
	}
	.col-xs-3{
		width: 25%;
	}
	.col-xs-4{
		width: 33.333333%;
	}
	.col-xs-5{
		width: 41.666666%;
	}
	.col-xs-6{
		width: 50%;
	}
	.col-xs-7{
		width: 58.333333%;
	}
	.col-xs-8{
		width: 66.666666%;
	}
	.col-xs-9{
		width: 75%;
	}
	.col-xs-10{
		width: 83.333333%;
	}
	.col-xs-11{
		width: 91.666666%;
	}
	.col-xs-12{
		width: 100%;
	}
	.hidden-xs{
		display: none;
	}
	.col-right-1{
		position: relative;
		right: 8.333333%;
	}
	.col-right-2{
		position: relative;
		right: 16.666666%;
	}
	.col-right-3{
		position: relative;
		right: 25%;
	}
	.col-right-4{
		position: relative;
		right: 33.333333%;
	}
	.col-right-5{
		position: relative;
		right: 41.666666%;
	}
	.col-right-6{
		position: relative;
		right: 50%;		
	}
	.col-right-7{
		position: relative;
		right: 58.333333%;
	}
	.col-right-8{
		position: relative;
		right: 66.666666%;
	}
	.col-right-9{
		position: relative;
		right: 75%;
	}
	.col-right-10{
		position: relative;
		right: 83.333333%;
	}
	.col-right-11{
		position: relative;
		right: 91.666666%;
	}
	.col-right-12{
		position: relative;
		right: 100%;
	}.col-left-1{
		position: relative;
		left: 8.333333%;
	}
	.col-left-2{
		position: relative;
		left: 16.666666%;
	}
	.col-left-3{
		position: relative;
		left: 25%;
	}
	.col-left-4{
		position: relative;
		left: 33.333333%;
	}
	.col-left-5{
		position: relative;
		left: 41.666666%;
	}
	.col-left-6{
		position: relative;
		left: 50%;		
	}
	.col-left-7{
		position: relative;
		left: 58.333333%;
	}
	.col-left-8{
		position: relative;
		left: 66.666666%;
	}
	.col-left-9{
		position: relative;
		left: 75%;
	}
	.col-left-10{
		position: relative;
		left: 83.333333%;
	}
	.col-left-11{
		position: relative;
		left: 91.666666%;
	}
	.col-left-12{
		position: relative;
		left: 100%;
	}
}
/* 平板 768px 992px  cpmtaomer 750px col-sm*/
@media screen  and (min-width: 768px) and (max-width: 992px){
	.container{
		width: 750px;
	}
	.col-sm-1{
		width: 8.333333%;
	}
	.col-sm-2{
		width: 16.666666%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.333333%;
	}
	.col-sm-5{
		width: 41.666666%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.333333%;
	}
	.col-sm-8{
		width: 66.666666%;
	}
	.col-sm-9{
		width: 75%;
	}
	.col-sm-10{
		width: 83.333333%;
	}
	.col-sm-11{
		width: 91.666666%;
	}
	.col-sm-12{
		width: 100%;
	}
	.hidden-sm{
		display: none;
	}
	.col-right-1{
		position: relative;
		right: 8.333333%;
	}
	.col-right-2{
		position: relative;
		right: 16.666666%;
	}
	.col-right-3{
		position: relative;
		right: 25%;
	}
	.col-right-4{
		position: relative;
		right: 33.333333%;
	}
	.col-right-5{
		position: relative;
		right: 41.666666%;
	}
	.col-right-6{
		position: relative;
		right: 50%;		
	}
	.col-right-7{
		position: relative;
		right: 58.333333%;
	}
	.col-right-8{
		position: relative;
		right: 66.666666%;
	}
	.col-right-9{
		position: relative;
		right: 75%;
	}
	.col-right-10{
		position: relative;
		right: 83.333333%;
	}
	.col-right-11{
		position: relative;
		right: 91.666666%;
	}
	.col-right-12{
		position: relative;
		right: 100%;
	}.col-left-1{
		position: relative;
		left: 8.333333%;
	}
	.col-left-2{
		position: relative;
		left: 16.666666%;
	}
	.col-left-3{
		position: relative;
		left: 25%;
	}
	.col-left-4{
		position: relative;
		left: 33.333333%;
	}
	.col-left-5{
		position: relative;
		left: 41.666666%;
	}
	.col-left-6{
		position: relative;
		left: 50%;		
	}
	.col-left-7{
		position: relative;
		left: 58.333333%;
	}
	.col-left-8{
		position: relative;
		left: 66.666666%;
	}
	.col-left-9{
		position: relative;
		left: 75%;
	}
	.col-left-10{
		position: relative;
		left: 83.333333%;
	}
	.col-left-11{
		position: relative;
		left: 91.666666%;
	}
	.col-left-12{
		position: relative;
		left: 100%;
	}
}
/* pc小屏 992px 1200px container 970 col-md */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.container-{
		width: 970px;
	}
	.col-md-1{
		width: 8.333333%;
	}
	.col-md-2{
		width: 16.666666%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.333333%;
	}
	.col-md-5{
		width: 41.666666%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.333333%;
	}
	.col-md-8{
		width: 66.666666%;
	}
	.col-md-9{
		width: 75%;
	}
	.col-md-10{
		width: 83.333333%;
	}
	.col-md-11{
		width: 91.666666%;
	}
	.col-md-12{
		width: 100%;
	}
	.hidden-md{
		display: none;
	}
	.col-right-1{
		position: relative;
		right: 8.333333%;
	}
	.col-right-2{
		position: relative;
		right: 16.666666%;
	}
	.col-right-3{
		position: relative;
		right: 25%;
	}
	.col-right-4{
		position: relative;
		right: 33.333333%;
	}
	.col-right-5{
		position: relative;
		right: 41.666666%;
	}
	.col-right-6{
		position: relative;
		right: 50%;		
	}
	.col-right-7{
		position: relative;
		right: 58.333333%;
	}
	.col-right-8{
		position: relative;
		right: 66.666666%;
	}
	.col-right-9{
		position: relative;
		right: 75%;
	}
	.col-right-10{
		position: relative;
		right: 83.333333%;
	}
	.col-right-11{
		position: relative;
		right: 91.666666%;
	}
	.col-right-12{
		position: relative;
		right: 100%;
	}.col-left-1{
		position: relative;
		left: 8.333333%;
	}
	.col-left-2{
		position: relative;
		left: 16.666666%;
	}
	.col-left-3{
		position: relative;
		left: 25%;
	}
	.col-left-4{
		position: relative;
		left: 33.333333%;
	}
	.col-left-5{
		position: relative;
		left: 41.666666%;
	}
	.col-left-6{
		position: relative;
		left: 50%;		
	}
	.col-left-7{
		position: relative;
		left: 58.333333%;
	}
	.col-left-8{
		position: relative;
		left: 66.666666%;
	}
	.col-left-9{
		position: relative;
		left: 75%;
	}
	.col-left-10{
		position: relative;
		left: 83.333333%;
	}
	.col-left-11{
		position: relative;
		left: 91.666666%;
	}
	.col-left-12{
		position: relative;
		left: 100%;
	}
}
/* pc大屏 >1200px container 1170px col-lg */
@media screen and (min-width: 1200px) {
	.container{
		width: 1170px;
	}
	.col-lg-1{
		width: 8.333333%;
	}
	.col-lg-2{
		width: 16.666666%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.333333%;
	}
	.col-lg-5{
		width: 41.666666%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.333333%;
	}
	.col-lg-8{
		width: 66.666666%;
	}
	.col-lg-9{
		width: 75%;
	}
	.col-lg-10{
		width: 83.333333%;
	}
	.col-lg-11{
		width: 91.666666%;
	}
	.col-lg-12{
		width: 100%;
	}
	.hidden-lg{
		display: none;
	}
	.col-right-1{
		position: relative;
		right: 8.333333%;
	}
	.col-right-2{
		position: relative;
		right: 16.666666%;
	}
	.col-right-3{
		position: relative;
		right: 25%;
	}
	.col-right-4{
		position: relative;
		right: 33.333333%;
	}
	.col-right-5{
		position: relative;
		right: 41.666666%;
	}
	.col-right-6{
		position: relative;
		right: 50%;		
	}
	.col-right-7{
		position: relative;
		right: 58.333333%;
	}
	.col-right-8{
		position: relative;
		right: 66.666666%;
	}
	.col-right-9{
		position: relative;
		right: 75%;
	}
	.col-right-10{
		position: relative;
		right: 83.333333%;
	}
	.col-right-11{
		position: relative;
		right: 91.666666%;
	}
	.col-right-12{
		position: relative;
		right: 100%;
	}.col-left-1{
		position: relative;
		left: 8.333333%;
	}
	.col-left-2{
		position: relative;
		left: 16.666666%;
	}
	.col-left-3{
		position: relative;
		left: 25%;
	}
	.col-left-4{
		position: relative;
		left: 33.333333%;
	}
	.col-left-5{
		position: relative;
		left: 41.666666%;
	}
	.col-left-6{
		position: relative;
		left: 50%;		
	}
	.col-left-7{
		position: relative;
		left: 58.333333%;
	}
	.col-left-8{
		position: relative;
		left: 66.666666%;
	}
	.col-left-9{
		position: relative;
		left: 75%;
	}
	.col-left-10{
		position: relative;
		left: 83.333333%;
	}
	.col-left-11{
		position: relative;
		left: 91.666666%;
	}
	.col-left-12{
		position: relative;
		left: 100%;
	}
}