
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502270565125'); /* IE9*/
  src: url('iconfont.eot?t=1502270565125#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502270565125') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502270565125') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502270565125#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-be:before { content: "\e601"; }

.icon-iconfontcolor39:before { content: "\e683"; }

.icon-xiangji:before { content: "\e65e"; }

.icon-shezhi:before { content: "\e603"; }

.icon-magic:before { content: "\e606"; }

.icon-xinfeng:before { content: "\e68a"; }

.icon-06:before { content: "\e60c"; }

.icon-bird:before { content: "\e759"; }

.icon-shuye:before { content: "\e628"; }

.icon-Ankerwebicon-:before { content: "\e689"; }

.icon-feiji:before { content: "\e650"; }

.icon-dizhi:before { content: "\e658"; }

